<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy Tickets</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'stubhub/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- <link rel="script" href="{% static 'stubhub/script/script.js' %}" media="screen" title="no title"  charset="utf-8">     -->
</head>
<body>
{% include 'stubhub/snippets/nav.html' %}
<div class="container">
    <div class="content">
        <h1>Buy tickets to {{ event.title }}</h1>
        <p>{{ event.event_date_time }}</p>
        <p>At {{ event.venue.name }}</p>
        <br>
        <h1>Available tickets:</h1>
        <form action="/buy/{{event.id}}" method="POST">
            {% csrf_token %}
            Filter by: <select name="filter_by" onchange="this.form.submit()">
                <option value="seat">Seat</option>
                <option value="price_asc">Lowest Price</option>
                <option value="price_desc">Highest Price</option>
                <option value="best_value">Best Value</option>
            </select>
        </form>
        {% for ticket in available_tix %}
            <br>
            <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }} for ${{ ticket.price}}</p>
            <p>for sale by <a href="/acc_info/{{ticket.seller.id}}">{{ticket.seller.first_name}} {{ticket.seller.last_name}}</a></p>
            <br>
            <form action="/add_to_cart" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="ticket_id" value="{{ticket.id}}"><br>
                    <input class="button" type="submit" value="Add to Cart">
            </form>
            <br>
            <br>
            <hr>
        {% endfor %}
    </div>
</body>
</div>
</html>