<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% load static %}
    <link rel="stylesheet" href="{% static 'stubhub/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
     <link rel="script" href="{% static 'stubhub/script/script.js' %}" media="screen" title="no title"  charset="utf-8">    
    <title>TixPix</title>
</head>


{% include 'stubhub/snippets/nav.html' %}
<body>
    <div class="container">
        <div class="content_card_thankyou">

            <div class="thanks">
            <h1>Thank You!</h1>

            <a class="button " href="/">Home<a>
            <a class="button " href="/acc_info/{{request.session.user_id}}">My Account</a>
            </div>
            

        </div>
    </div>
</body>
</html>