<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TixPix</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'stubhub/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <script src="{% static 'stubhub/script/script.js' %}"></script> 
    {% if not request.session.geo %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
        <script src="{% static 'stubhub/script/geolocation.js' %}"></script> 
    {% endif %}
</head>

{% include 'stubhub/snippets/nav.html' %}

<div class="container">

    <body>
        <div>
        {% include 'stubhub/snippets/search_bar.html' %}
        </div>
        <div class="content">
            <h2 class="grey_text">
            Upcoming events
            </h2>
            <hr>
            <br>
            <div class="list_container">
            <div id='events_list' >
                {% include 'stubhub/snippets/event_list.html' %}
            </div> 
            </div>
        <br>
        <hr>
        </div>
    </body>
</div>
</html>