<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TixPix</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'stubhub/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="script" href="{% static 'stubhub/script/script.js' %}" media="screen" title="no title"  charset="utf-8">    
</head>

 {% include 'stubhub/snippets/nav.html' %}

<div class="container">
<body>
    {% include 'stubhub/snippets/search_bar.html' %}
   
    <div class="content">
    <h1 class="greeting">
    Welcome to TixPix!
    </h1>




    <a href="/sell/5">Sell tickets!</a>

    
    </div>
    <div id='events_list'>
        {% include 'stubhub/snippets/event_list.html' %}
    </div>
</body>
</div>
</html>