<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% load static %}
    <link rel="stylesheet" href="{% static 'stubhub/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
     <link rel="script" href="{% static 'stubhub/script/script.js' %}" media="screen" title="no title"  charset="utf-8">    
    <title>Order Review</title>
</head>

{% include 'stubhub/snippets/nav.html' %}
<body>
    <div class="container">
        <div class="content_card">
            <h3 class="grey_text">Order Review</h3>
            </hr>
            </tr>
                    <table>
                    <tr>
                        <th>Event</th>
                        <th>Venue</th>
                        <th>Price</th>
                    </tr>
                    
                    {%for ticket in items%}
                    <tr>
                        <td>{{ticket.event.title}}</td>
                        <td>{{ticket.event.venue.name}}</td>
                        <td>${{ticket.price}}</td>
                    </tr>
                    {%endfor%}
                </table>
                <br>
                <hr>


            
            <div class='overview_info'>
                <div class="card_info_overview">
                    <h3 class="grey_text">Payment Info</h3>
                    <table class="payment_summary">

                    <tr>
                        <td class="label">Card Holder:</td> 
                        <td>{{card.first_name}} {{card.last_name}}</td>
                    </tr>
                    <tr>
                        <td class="label" >Card Number:</td>
                        <td>*{{last_four}}</td>
                    </tr>
                    <tr>
                        <td class="label">EXP:</td>
                        <td>{{card.exp_month}}/{{card.exp_year}}</td>
                    </tr>

                    </table>
                </div>

                
                <div class="billing_info_overview">
                <h3 class="grey_text">Billing Info</h3>
                    <table class="payment_summary">
                    <tr>
                        <td class="label">Resident:</td> 
                        <td>{{address.full_name}}</td>
                    </tr>
                    <tr>
                        <td class="label" >Address:</td>
                        <td >{{address.address}}</td>
                    </tr>
                    <tr>
                        <td class="label">City/State:</td>
                        <td>{{address.city}}/{{address.state}}</td>
                    </tr>
                    <tr>
                        <td class="label">Country:</td>
                        <td>{{address.country}}</td>
                    </tr>
                    </table>

                </div> 
            </div>
            <form class ='confirm_button' action='/order_confirmation' method="POST">
                {% csrf_token %}
            <h4>Total: ${{total}}</h4>
            <br>
            <input class="button center" type="submit" value="Buy Tickets">
            </form>
        </div>
    </div>
</body>
</html>