<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% load static %}
    <link rel="stylesheet" href="{% static 'stubhub/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
     <link rel="script" href="{% static 'stubhub/script/script.js' %}" media="screen" title="no title"  charset="utf-8">    
    <title>Purchase Information</title>
</head>

{% include 'stubhub/snippets/nav.html' %}
<body>
    <div class="container">
        <div class="content_card">
            <h3 class="grey_text centered">Payment information</h3>
            <hr>
            <div class="confirm_center">
            <div class="card_info">
                <form action="/order_review" method="POST">
                    <div class="card">
                        <div class="form-header">
                            <h4 class="title">Credit Card Details</h4>
                        </div>
                            <!-- Card Number -->
                            <input type="text" name="first_name" placeholder="First Name"><br>
                            <input type="text" name="last_name" placeholder="Last Name"><br>
                            <input type="text" name="card_number" placeholder="Card Number">

                            <!-- Date Field -->
                            <div class="date-field">
                                <div class="month">
                                    <select name="month">
                                    <option value=" ">Month</option>
                                    <option value="january">January</option>
                                    <option value="february">February</option>
                                    <option value="march">March</option>
                                    <option value="april">April</option>
                                    <option value="may">May</option>
                                    <option value="june">June</option>
                                    <option value="july">July</option>
                                    <option value="august">August</option>
                                    <option value="september">September</option>
                                    <option value="october">October</option>
                                    <option value="november">November</option>
                                    <option value="december">December</option>
                                    </select> 
                                </div>

                                <div class="year">
                                <select name="year">
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                </select>
                                </div>
                        
                            </div>
                            <div class="card-verification">
                                <div class="cvv-input">
                                    <input type="text" name="cvv" placeholder="CVV">
                                </div>
                                    <div class="cvv-details">
                                <p class="cvv_info">3 or 4 digits usually found on the signature strip</p>
                                </div>
                            </div>
                    </div>

                    <div class="address">
                        <div class="form-header">
                            <h4 class="title"> Billing Address</h4>
                        </div>
                        <ul class="billing">
                            <li><input class="text" type="text" name="full_name" placeholder="Full name">
                            <li><input class="text" type="text" name="address" placeholder="Address">
                            <li><input class="text" type="text" name="zip" placeholder="Zip">
                            <li><input class="text" type="text" name="city" placeholder="City">
                            <li><input class="text" type="text" name="state" placeholder="State">
                            <li><input class="text" type="text" name="country" placeholder="Country">
                        </ul>
                    </div>
                
                            {% csrf_token %}
                    <input id="confirm_payment" class="button" type="submit" value="Confirm information">
                </form>
                
                <div>
                 {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {%if "CC" in message.tags%}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {%endif%}
                        {% endfor %}
                    </ul>
                {% endif %} 


                
                {% if messages %}
                    <ul class="messagesright">
                        {% for message in messages %}
                        {%if "AD" in message.tags%}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {%endif%}
                        {% endfor %}
                    </ul>
                {% endif %}
                

                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>