<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ event.title }}</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'stubhub/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- <link rel="script" href="{% static 'stubhub/script/script.js' %}" media="screen" title="no title"  charset="utf-8">      -->
</head>
<body>
 {% include 'stubhub/snippets/nav.html' %}

<div class="container">
    <div class="content">

        <div id="event_info">
            <br>
            <br>
            <h1>{{ event.title }}</h1>
            <br>
            <p>{{ event.event_date_time }}</p>
            <br>
            <p>At {{ event.venue.name }}</p>
            <a href="/buy/{{event.id}}" class="button">Buy tickets to this event</a>
            <a href="/sell/{{event.id}}" class="button">Sell tickets to this event</a>
        </div>
        <img src="{{event.image}}" alt="Image of performer for {{event.title}}" onerror="this.style.display='none'" class="event_image" id="event_pic">

    </div>
</body>
</div>
</html>