<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Information</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'stubhub/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    {% include 'stubhub/snippets/nav.html' %}
    <div class="container">

        <h1>{{user.first_name}} {{user.last_name}}</h1>

        {% if tickets_for_sale %}
            <h2>Current tickets {{user.first_name}} {{user.last_name}} has for sale:</h2>
            <hr>
            {% for ticket in tickets_for_sale %}
                <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }}</p>
                <p>at <strong>{{ ticket.event.title }}</strong></p>
                <p>for ${{ ticket.price }}</p>
                <hr>
            {% endfor %}
            <br>
            <br>
        {% endif %}


        {% if tickets_sold %}
            <h2>Tickets sold by {{user.first_name}} {{user.last_name}} in the past:</h2>
            <hr>
            {% for ticket in tickets_sold %}
                <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }}</p>
                <p>at <strong>{{ ticket.event.title }}</strong></p>
                <p>for ${{ ticket.price }}</p>
                <hr>
            {% endfor %}
            <br>
            <br>
        {% endif %}



        {% if tickets_bought %}
            <h2>Tickets bought by {{user.first_name}} {{user.last_name}} in the past:</h2>
            <hr>
            {% for ticket in tickets_bought %}
                <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }}</p>
                <p>at <strong>{{ ticket.event.title }}</strong></p>
                <p>for ${{ ticket.price }}</p>
                <hr>
            {% endfor %}
            <br>
            <br>
        {% endif %}

    </div>
</body>
</html>