<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Information</title>
    {% load mathfilters %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'stubhub/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'stubhub/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <script src="{% static 'stubhub/script/jquery.js' %}"></script> 
    <script src="{% static 'stubhub/script/jquery-ui.js' %}"></script> 
    <script src="{% static 'stubhub/script/tabs.js' %}"></script>
</head>
<body>
    {% include 'stubhub/snippets/nav.html' %}
    <div class="container">

        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <br>


        <div id="tabs">

            <ul>
                <li><a href="#tabs-1">Current tickets {{user.first_name}} {{user.last_name}} has for sale:</a></li>
                <li><a href="#tabs-2">Tickets sold by {{user.first_name}} {{user.last_name}} in the past:</a></li>
                <li><a href="#tabs-3">Tickets bought by {{user.first_name}} {{user.last_name}} in the past:</a></li>
            </ul>

            <div id="tabs-1">

                {% if tickets_for_sale %}
                    {% for ticket in tickets_for_sale %}
                        <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }}</p>
                        <p>at <a href="/event/{{ticket.event.id}}"><strong>{{ ticket.event.title }}</strong></a></p>
                        <p>for ${{ ticket.price }}</p>
                        <form action="/add_to_cart_from/{{user.id}}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="ticket_id" value="{{ticket.id}}"><br>
                            <input class="button" type="submit" value="Add to Cart">
                        </form>
                        <br>
                        <hr>
                        <br>
                    {% endfor %}
                <br>
                <br>
                {% else %}
                    <p class="light_grey_text">No tickets for sale</p>
                {% endif %}

            </div>

            <div id="tabs-2">

                {% if tickets_sold %}
                <hr>
                {% for ticket in tickets_sold %}
                    <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }}</p>
                    <p>at <a href="/event/{{ticket.event.id}}"><strong>{{ ticket.event.title }}</strong></a></p>
                    <p>for ${{ ticket.price }}</p>
                    <hr>
                {% endfor %}
                <br>
                <br>
                {% else %}
                    <p class="light_grey_text">No tickets sold</p>
                {% endif %}


            </div>

            <div id="tabs-3">

                {% if tickets_bought %}
                    <hr>
                    {% for ticket in tickets_bought %}
                        <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }}</p>
                        <p>at <a href="/event/{{ticket.event.id}}"><strong>{{ ticket.event.title }}</strong></a></p>
                        <p>for ${{ ticket.price }}</p>
                        <hr>
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <p class="light_grey_text">No tickets bought</p>
                {% endif %}

            </div>

        </div>



        <!-- <div class="ticket_row">
            <h2>Current tickets {{user.first_name}} {{user.last_name}} has for sale:</h2>
            <br>
            {% if tickets_for_sale %}
                
                <hr>
                <br>
                {% for ticket in tickets_for_sale %}
                    <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }}</p>
                    <p>at <a href="/event/{{ticket.event.id}}"><strong>{{ ticket.event.title }}</strong></a></p>
                    <p>for ${{ ticket.price }}</p>
                    <form action="/add_to_cart_from/{{user.id}}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="ticket_id" value="{{ticket.id}}"><br>
                        <input class="button" type="submit" value="Add to Cart">
                    </form>
                    <br>
                    <hr>
                    <br>
                {% endfor %}
                <br>
                <br>
            {% else %}

                <p class="light_grey_text">No tickets for sale</p>

            {% endif %}
        </div>

        <div class="ticket_row">
            <h2>Tickets sold by {{user.first_name}} {{user.last_name}} in the past:</h2>
            <br>
            {% if tickets_sold %}
                
                <hr>
                {% for ticket in tickets_sold %}
                    <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }}</p>
                    <p>at <a href="/event/{{ticket.event.id}}"><strong>{{ ticket.event.title }}</strong></a></p>
                    <p>for ${{ ticket.price }}</p>
                    <hr>
                {% endfor %}
                <br>
                <br>
            {% else %}

                <p class="light_grey_text">No tickets sold</p>

            {% endif %}
        </div>

        <div class="ticket_row">
            <h2>Tickets bought by {{user.first_name}} {{user.last_name}} in the past:</h2>
            <br>
            {% if tickets_bought %}
                
                <hr>
                {% for ticket in tickets_bought %}
                    <p>Seat {{ ticket.seat_num }}{{ ticket.seat_letter }}</p>
                    <p>at <a href="/event/{{ticket.event.id}}"><strong>{{ ticket.event.title }}</strong></a></p>
                    <p>for ${{ ticket.price }}</p>
                    <hr>
                {% endfor %}
                <br>
                <br>
            {% else %}

                <p class="light_grey_text">No tickets bought</p>

            {% endif %}
        </div> -->

    </div>
</body>
</html>