@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');

*{
    margin: 0px;
    padding:0px;
    font-family:'Open Sans', sans-serif;
}
.nav_link {
    color: white;
    text-decoration: none;
}
.grey_text{
    color:#424242;
}
.light_grey_text{
    color:#BDBDBD;
}
.light{
    font-weight:600;
}
.messages{
    color: #E53935;
}

body{
    background-color: whitesmoke;
}
div.container{
    margin:auto;
    padding-left: 50px;
    padding-right: 50px;
}
input[type=text], select {
    padding: 7px 15px;
    margin: 3px 0;
    height:28px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #FF5722; 
    border: none;
    color: white;
    padding: 3px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    margin: 4px 2px;
    cursor: pointer;
}


/* log in page */
div.reg_content{
    width:50%;
    margin:auto;
    height:400px;
}
div.content{
    padding: 30px;
    background-color: white;
    margin:10px;
}
div.login{
    display:inline-block;
    vertical-align:top;
}
div.register{
    display:inline-block;
    float:right;
}

/* navigation */
div.nav{
    height: 70px;
    background-color: #00BCD4;
    color:white;
    padding-left: 55px;
    padding-right: 55px;
}
div.visitor_nav{
    display: inline-block;
}
div.header_content{
    margin:auto;
    margin-left:10px;
    margin-right:10px;
}
div.nav ul{
    display:inline-block;
    float: right;
    margin-top:38px;
}
div.nav ul li{
    list-style: none;
    display: inline-block;
    font-size:13px;
    margin: 10px;
}
div.greeting{
    display: inline-block;
}

.basic_button {
    background: lightgray;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    height: 15px;
    line-height: 15px;
    border: 1px solid gray;
    margin-left: 10px;
}
div.search{
    padding-right: 30px;
    padding-left: 30px;
    padding-top:15px;
    padding-bottom:15px;
    background-color: white;
    margin:10px;
}
input.search{
    width: 250px;
}



