*{
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
}
div.container{
    margin:auto;
    width: 970px;
}

div.content{
    padding: 20px;
}

div.nav{
    height: 70px;
    background-color: gray;
    color:white;
    padding: 15px;
}

div.nav ul{
    display:inline-block;
    float:right;
}
div.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
div.greeting{
    display: inline-block;
}


