
{% for event in selected_events %}
    <div class='event'>
    {% if request.session.sell_path %}
        <a href="sell/{{event.id}}">
    {% else %}
        <a href="event/{{event.id}}">
    {% endif %}
    
        <img src="{{event.image}}" height="140" alt="Image of performer for {{event.title}}" onerror="this.style.display='none'">
        <h3>{{event.title}}</h3>
        <p class="event">{{event.event_date_time}}</p>
        <p class="event">{{event.venue.name}}</p>
    </a>
    </div>
{% endfor %}
