
{% for event in selected_events %}
    <div class='event'>
        <img src="{{event.image}}" height="140" alt="Image of performer for {{event.title}}" onerror="this.style.display='none'">
        {% if request.session.sell_path %}
        <h3><a href="sell/{{event.id}}">{{event.title}}</a></h3>
        {% else %}
        <h3><a href="event/{{event.id}}">{{event.title}}</a></h3>
        {% endif %}
        <p class="event">{{event.event_date_time}}</p>
        <p class="event">{{event.venue.name}}</p>
    </div>
{% endfor %}
