
<div class="nav">
        <div class="header_content">
                <div class="greeting">
                {%if request.session.user_name %}
                       <a class='nav_link' href="/"><h1> TixPix </h1></a> 
                        <p>Hello, {{request.session.user_name}}!</p>
                </div>
                
                <ul>
                        <li><a class='nav_link' href="/">Home</a>
                        <li><a class='nav_link' href="/acc_info/{{request.session.user_id}}">My Account</a>
                        <li><a class='nav_link' href="/log_out">Log Out</a>
                        <li><a class='nav_link' href="/sell_tickets_search">Sell Tickets</a>
                        <li><a class='nav_link' href="/cart">Cart({{request.session.cart|length}})</a>
                </ul>
                {%endif%}
                
                {%if not request.session.user_name %}
                <a class='nav_link' href="/"><h1> TixPix </h1></a> 
                <p>Welcome!</p>
                </div>
                <ul>
                        <li><a class='nav_link' href="/">Home</a>
                        <li><a class='nav_link' href="/log_reg">Sign In</a></li>
                </ul>
                {%endif%} 
        </div>
</div>


